#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid red;
    height: 960px;  
    width: 960px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 0;
}

.grid-square {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    
    background-color: white;
}

.grid-container.drawing .grid-square:hover {
    background-color: unset;
}

.active {
    background-color: #ddd;
}
